*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing:border-box;
}

body{
    background-color: #03080a;
}
.card{
    background-color: #f7f7f7;
    width: 100%;
    max-width: 570px;
    max-height: 1000px;
    background:linear-gradient(135deg,#0a510a,#26cf9c);
    color:#f2f2f7;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 5px 5px;
    text-align: center;
    /* border-radius: 20; */
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px 10px;
    /* just/ */
}

.search input{
    border:0;
    background-color: #cecee3;
    border-radius: 50px;
    flex: 1;
    padding: 5px 50px;
    margin-right: 20px;
    height: 25px;
}
.search button{
    border:0;
    cursor: pointer;
    background:#cecee3;
    border-radius: 30px;
    height: 40px;
    width:40px;
    /* border-bottom-right-radius: 5px; */
}
.search img{
    width:20px;
}
.weather-icon{
    width:70px;
    margin-top: 10px;
}
.weather h1{
    font-size: 40px;
}
.weather h2{
    font-size: 40px;
}

.details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items:center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: -10px;
    margin-top: -16px;
}
.error{
    text-align:left;
    margin-left: 10px;
    display: none;
}
.weather{
    display: none;
}
